{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.customers'|trans }}</li>
    <li><a href="{{ path('sylius_backend_user_index') }}">{{ 'sylius.breadcrumb.user.index'|trans }}</a></li>
    <li>{{ user.fullName  }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.generic(path('sylius_account_homepage', { '_switch_user': user.username }), 'sylius.user.impersonate'|trans) }}
        {{ buttons.manage(path('sylius_backend_user_index'), 'sylius.user.manage'|trans) }}
        {% if is_granted("ROLE_SYLIUS_ADMIN", user) %}
            {% if not user.deleted %}
                {{ buttons.edit(path('sylius_backend_user_update', {'id': user.id})) }}
                {{ buttons.delete(path('sylius_backend_user_delete', {'id': user.id}), null, false, false) }}
            {% endif %}    
        {% endif %}
    </div>
    {% for group in user.groups %}
        <h1><i class="glyphicon glyphicon-info-sign"></i> {{ group.name }} DETAILS</h1>
    {% endfor%}        
</div>

<div class="row">
    {% if user.shippingAddress %}
        <div class="col-md-6">
            <h4>{{ 'sylius.user.shipping_address'|trans }}</h4>
            {% include 'SyliusWebBundle:Backend/Address:_show.html.twig' with {'address': user.shippingAddress } %}
        </div>
    {% endif %}
    {% if user.billingAddress %}
        <div class="col-md-6">
            <h4>{{ 'sylius.user.billing_address'|trans }}</h4>
            {% include 'SyliusWebBundle:Backend/Address:_show.html.twig' with {'address': user.billingAddress } %}
        </div>
    {% endif %}
</div>
<div class="container">
    <div id="content">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
            <li><a href="#contacts" data-toggle="tab">Contacts</a></li>
            <li><a href="#invoices" data-toggle="tab">Invoices</a></li>
            <li><a href="#estimates" data-toggle="tab">Estimates</a></li>
            <li><a href="#purchaseOrders" data-toggle="tab">Purchase Order</a></li>
            <li><a href="#expenses" data-toggle="tab">Expenses</a></li>
        </ul>
        <div  id="my-tab-content" class="tab-content voffset3">
            <div class="tab-pane active" id="details">
                  {% include 'IbillmakerHubCoreBundle:Backend:User/details_xeditable.html.twig'  %}
            </div>       
            <div class="tab-pane" id="contacts">
               {% include 'IbillmakerHubCoreBundle:Backend:User/contact_xeditable.html.twig'  %}
            </div>
            <div class="tab-pane" id="invoices">
                <div class="row">
                    <div class="col-md-12">
                        {% render(url('sylius_backend_order_by_user', app.request.query.all|merge({id: user.id}) )) %}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="estimates">
              
            </div>
            <div class="tab-pane" id="purchaseOrders">
                <h1>Green</h1>
                <p>green green green green green</p>
            </div>
            <div class="tab-pane" id="expenses">
                <h1>Blue</h1>
                <p>blue blue blue blue blue</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
