{% block content %}    
    <div class="container">
    <div  class="row" ng-app="formEdit" ng-controller="formEditController" ng-init="init({{user.id}})">
        <div class="col-md-11">
            <form editable-form name="editableForm" onaftersave="saveUser()">

                   <table class="table table-bordered table-condensed table-hover">
                               <thead>
                                   <tr>
                                       <th colspan="3">{{ 'sylius.user.general_info'|trans({'%username%': user.username}) }}</th>
                                       <th colspan="1">
                                           <div class="actions-menu">
                                           <!-- button to show form -->
                                           <button type="button" class="btn btn-primary btn-sm" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                                               <i class="glyphicon glyphicon-pencil"></i>
                                             Edit
                                           </button>
                                           <!-- buttons to submit / cancel form -->
                                           <span ng-show="editableForm.$visible">
                                             <button type="submit" class="btn btn-success btn-sm" ng-disabled="editableForm.$waiting">
                                               <i class="glyphicon glyphicon-floppy-saved"></i>
                                               Save
                                             </button>
                                             <button type="button" class="btn btn-default btn-sm" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                                               Cancel
                                               <i class="glyphicon glyphicon-remove"></i>
                                             </button>
                                           </span>
                                           </div>
                                       </th>  
                                   </tr>

                               </thead>
                               <tbody>
                                   <tr>
                                       <td><strong>{{ 'sylius.user.id'|trans }}</strong></td>
                                       <td>{{ user.id }}<input type="hidden" value="{{user.id}}" name="id" /></td>
                                        <td><strong>{{ 'sylius.user.enabled'|trans }}</strong></td>
                                       <td>
                                           <span class="label label-{{ user.enabled ? 'success' : 'important'}}">
                                               {{ user.enabled ? 'sylius.yes'|trans : 'sylius.no'|trans }}
                                           </span>
                                       </td>
                                   </tr>

                                   <tr>

                                   {% if user.firstName %}
                                       <td><strong>{{ 'sylius.user.first_name'|trans }}</strong></td>
                                       <td> <span editable-text="user.firstName" e-name="firstName"  e-required>[[ user.firstName || 'empty' ]]</span></td>
                                       <td><strong>{{ 'sylius.user.username'|trans }}</strong></td>
                                       <td><div class="row">
                                                <div class="col-md-12">
                                                    <span editable-text="user.username" e-class="username" e-name="username" e-id="username" style="text-align:right;" e-ng-class="{true: 'active', false: 'inactive'}[isActive]" e-ng-change="checkUserName($data)" >[[ user.username || 'empty' ]]</span>
                                                    <span class="highlight"><strong>@{{user.companyId}}</strong></span>
                                                </div>
                                                </div>    
                                        </div> </td>  
                                   {% endif %}

                                   </tr>
                                   <tr>
                                       {% if user.lastName %}

                                           <td><strong>{{ 'sylius.user.last_name'|trans }}</strong></td>
                                           <td> <span editable-text="user.lastName" e-name="lastName"  e-required>[[ user.lastName || 'empty' ]]</span></td>

                                       {% endif %}

                                       <td><strong>{{ 'sylius.user.email'|trans }}</strong></td>
                                       <td> <span editable-text="user.email" e-name="email" onbeforesave="checkEmail($data)"  e-required>[[ user.email || 'empty' ]]</span></td>
                                   </tr>
                                   <tr>

                                   </tr>
                                   {% if user.lastLogin %}
                                   <tr>
                                       <td><strong>{{ 'sylius.user.last_login'|trans }}</strong></td>
                                       <td>{{ user.lastLogin|date }}</td>
                                   </tr>
                                   {% endif %}
                       </tbody>
                   </table>
                 </form>  
               </div>  
    </div>  
</div>  
{% endblock%}            