{% block content %}    
    <div class="container">
    <div  class="row" ng-app="formEdit" ng-controller="formEditController" ng-init="init({{user.id}})">
        <div class="col-md-11">
            <form editable-form name="editableForm" onaftersave="saveUser()">

                   <table class="table table-bordered table-condensed">
                               <thead>
                                   <!-- edit delete button row-->
                                   <tr>
                                       <th  class="text-info"><h4><b>{{ 'sylius.user.general_info'|trans({'%companyName%': user.companyName}) }}</b></h4></th>                                 
                                       <th >
                                           <div class="actions-menu">
                                           <!-- button to show form -->
                                           <button type="button" class="btn btn-primary btn-sm" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                                               <i class="glyphicon glyphicon-pencil"></i>
                                             Edit
                                           </button>
                                           <!-- buttons to submit / cancel form -->
                                           <span ng-show="editableForm.$visible">
                                             <button type="submit" class="btn btn-success btn-sm" ng-disabled="editableForm.$invalid" ng-disabled="editableForm.$save" >
                                               <i class="glyphicon glyphicon-floppy-saved"></i>
                                               Save
                                             </button>
                                             <button type="button" class="btn btn-default btn-sm" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                                               Cancel
                                               <i class="glyphicon glyphicon-remove"></i>
                                             </button>
                                           </span>
                                           </div>
                                       </th>  
                                   </tr>

                               </thead>
                               <tbody>
                                    <!-- ################## User General Info    ################# -->
                                    <tr>
                                        <td><strong>{{ 'sylius.user.enabled'|trans }}</strong></td>
                                       <td>
                                           <span class="label label-{{ user.enabled ? 'success' : 'important'}}">
                                               {{ user.enabled ? 'sylius.yes'|trans : 'sylius.no'|trans }}
                                           </span>
                                       </td>
                                       {% if user.lastLogin %}
                                    </tr>       
                                   <tr>
                                       <td><strong>{{ 'sylius.user.last_login'|trans }}</strong></td>
                                       <td>{{ user.lastLogin|date }}</td>
                                   
                                   {% endif %}
                                    </tr>
                                    <tr>
                                       <td> <strong>{{ 'sylius.user.company_name'|trans }}</strong></td>
                                       <td>
                                        <span editable-text="user.companyName" e-name="firstName"  >[[ user.companyName || 'empty' ]]</span>
                                        <input type="hidden" value="{{user.id}}" name="id" /></td>
                                    </tr>
                                    <tr>

                                        <td><strong>{{ 'sylius.user.first_name'|trans }}</strong></td>
                                        <td> <span editable-text="user.firstName" e-name="firstName"  >[[ user.firstName  ]]</span></td>
                                    </tr>
                                    <tr>
                                        <td><strong>{{ 'sylius.user.last_name'|trans }}</strong></td>
                                        <td> <span editable-text="user.lastName" e-name="lastName"  >[[ user.lastName ]]</span></td>
                                         
                                   </tr>
                                   <tr>
                                       <td><strong>{{ 'sylius.user.username'|trans }}</strong></td>
                                       <td><div class="row">
                                                
                                                   <div class="col-md-8"> <span editable-text="user.username" e-class="username" e-name="username" e-id="username" style="text-align:right;" e-ng-class="{true: 'active', false: 'inactive'}[isActive]" e-ng-change="checkUserName($data)" >[[ user.username || 'empty' ]]</span>
                                                    <span class="highlight"><strong>@{{user.companyId}}</strong></span>
                                                   </div>
                                                   
                                                </div>     <span class="active" ng-show="editableForm.$validusername" ><strong>username available.</strong></span>
                                        </div> </td>   
                                   </tr>
                                   <tr>   
                                       <td><strong>{{ 'sylius.user.email'|trans }}</strong></td>
                                       <td> <span editable-text="user.email" e-name="email" onbeforesave="checkEmail($data)"  e-required>[[ user.email || 'empty' ]]</span></td>
                                   </tr>
                                   <!-- ###################### Address primary ###################### -->
                                   <tr>
                                       <td colspan="3" class="text-info"><h4><b>Primary Address</b></h4></td>
                                   </tr>
                                    <tr>
                                        <td><strong>{{ 'sylius.address.street'|trans }}</strong></td>
                                        <td> <span editable-text="user.p_street" e-name=""  >[[ user.p_street || 'empty' ]]</span></td>
                                    </tr>
                                    <tr>
                                        <td><strong>{{ 'sylius.address.postcode'|trans }}</strong></td>
                                        <td> <span editable-text="user.p_postcode" e-name=""  >[[ user.p_postcode || 'empty' ]]</span></td>
                                    </tr>
                                    <tr>
                                        <td><strong>{{ 'sylius.address.city'|trans }}</strong></td>
                                        <td> <span editable-text="user.p_city" e-name=""  >[[ user.p_city || 'empty' ]]</span></td>
                                    </tr>
                                    <tr>
                                        <td><strong>{{ 'sylius.address.country'|trans }}</strong></td>
                                        <td>  
                                            <span editable-select="user.p_country" e-name="p_country"  e-ng-options="g.id as g.name for g in countryList">                          
                                                [[  showCountry(user.p_country)  ]]
                                            </span>
                                        </td>
                                    </tr>
                                   <!-- ###################### Address primary ###################### -->
                                   <tr>
                                       <td colspan="3" class="text-info"><h4><b>Secondary Address</b></h4></td>
                                   </tr>
                                    <tr>
                                        <td><strong>{{ 'sylius.address.street'|trans }}</strong></td>
                                        <td> <span editable-text="user.s_street" e-name="s_street"  >[[ user.s_street || 'empty'  ]]</span></td>
                                    </tr>
                                    <tr>
                                        <td><strong>{{ 'sylius.address.postcode'|trans }}</strong></td>
                                        <td> <span editable-text="user.s_postcode" e-name="s_postcode"  >[[ user.s_postcode || 'empty'  ]]</span></td>
                                    </tr>
                                    <tr>
                                        <td><strong>{{ 'sylius.address.city'|trans }}</strong></td>
                                        <td> <span editable-text="user.s_city" e-name="s_city"  >[[ user.s_city  || 'empty' ]]</span></td>
                                    </tr>
                                    <tr>
                                        <td><strong>{{ 'sylius.address.country'|trans }}</strong></td>
                                        <td> <span editable-select="user.s_country" e-name="s_country"  e-ng-options="g.id as g.name for g in countryList">
                                        [[ showCountry(user.s_country) ]]</span></td>
                                    </tr>
                       </tbody>
                   </table>
                 </form>  
               </div>  
    </div>  
</div>  
{% endblock%}            